@CHARSET "US-ASCII";

.formtable {
	width: 600px;
	padding: 10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 250px;
}

input[type=password] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

table.offers {
	padding: 20px;
	border: 1px solid gray;
}

p.error {
	font-size: medium;
}

div.footer {
	font-size: small;
	color: gray;
}

div.content {
	position: relative;
	padding: 40px;
}

div.toolbar {
	position: relative;
	padding-left: 40px;
	margin-top: 10px;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 40px;
	background-color: red;
}

a.login {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}

a.title {
	color: white;
	font-size: 35px;
}

input.delete {
	border: 1px solid red;
}

table.offers td {
	border-bottom: 1px dashed brown;
	padding-bottom: 5px;
}

td.name {
	width: 100px;
	vertical-align: top;
}

td.contact {
	padding: 0px 10px;
	width: 40px;
	vertical-align: top;
}

.message {
	margin-bottom: 20px;
	border-bottom: 1px dashed brown;
}

span.subject {
	font-size: large;
	color: brown;
	font-weight: bold;
}

span.messagebody {
	display: block;
	font-style: italic;
}

span.name {
	color: brown;
	font-size: medium;
}

form.replyform {
	padding: 20px;
	display: none;
}

textarea.replyarea {
	width: 400px;
	height: 250px;
}

input.replybutton {
	display: block;
	font-size: large;
	border: 1px solid gray;
}

a.replylink:link {
	color: brown;
}

span.alert {
	display: block;
	font-weight: bold;
	color: green;
}

.header input[type=submit] {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
     position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}
